.container {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-primary {
  width: 20%;
}

.btn-primary {
  background-color: lightblue !important;
}

.details-button {
  width: auto;
}

#action-button {
  background-color: aquamarine !important;
}

#delete-button {
  background-color: #ff6347 !important;
}

.my-table {
  width: 50% !important;
}

.add-project {
  width: auto;
}

.card {
  border-radius: 10px;
}

.card-body {
  padding: 20px;
}

.table {
  margin-bottom: 0;
}

.table thead th {
  background-color: #343a40;
  color: #fff;
  border: none;
}

.table tbody tr {
  transition: background-color 0.3s ease;
}

.table tbody tr:hover {
  background-color: #f8f9fa;
}

.table td {
  vertical-align: middle;
}

.table td button {
  font-size: 0.875rem;
  padding: 5px 10px;
  border-radius: 5px;
}

.d-flex.justify-content-end.mb-3 {
  margin-bottom: 1rem;
}

.text-center.mb-4 {
  margin-bottom: 2rem;
}

.alert-text {
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  width: 300px;
}

.projects-div {
  background-color: #F5F5DC;
}

@media (max-width: 768px) {
  .btn-primary {
    width: 100%;
  }
}
